td {
  width: 300px;
  height: 100px;
  text-align: center;
}
.img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.plus-icons,
.minus-icons,.delete-icons {
  width: 25px;
  height: 25px;
  padding-inline: 15px;
}
.action-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quantity {
  margin: 0px;
}
